<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tranzip | Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles-->
    <link href="/css/main_style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar mainNav container-fluid">

    <div class="col-xs-2">
        <a href="#" class="signIn adminButtonNav">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <span class="hidden-sm hidden-xs">Help</span>
        </a>
    </div>
    <div class="navBrand col-xs-8">
        <a href="/">
            <img alt="tranzip Brand" src="/img/tranzipNavLogo.png">
        </a>
    </div>
    <div class="col-xs-2">
        <a href="#" class="help"></a>
    </div>

</nav>
<ul class="adminToggle">
    <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
    </div>
</ul>
<nav class="main-navigation" role='navigation'>
    <h2 class="menuTitle">Menu</h2>
    <ul>
        <li><a href=""><i class="fa fa-user-circle-o"></i>Profile</a></li>
        <li><a href="/admin/<%= school %>/"><i class="fa fa-home"></i>Admin Home</a></li>
        <li><a href="/"><i class="fa fa-external-link"></i>Tranzip Home</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i>Log Out</a></li>
    </ul>
</nav>
<div class="sidenav-background"></div>

<div id="busMenuState">
    <ul>
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ADMIN / Select A Bus</h2>
                </div>
            </div>
            <hr />

            <div class="row text-center pad-top container-fluid antiMobileAlert">
                <p class="alert-warning">* for optimal experience please do not view on mobile devices.</p>
            </div>

            <% for (var i=0; i < busNumbers.length; i++) { %>

                <% if (i % 6 == 0) { %>
                    <% if (i != 0) { %>
                        </div>
                    <% } %>

                    <div class="row text-center pad-top">
                <% } %>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="/admin/<%= school + "/" + busNumbers[i] %>" >
                        <div class="busOption">
                            <i class="fa fa-bus fa-3x"></i>
                            <h4>Bus <%= busNumbers[i] %></h4>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </ul>
</div>

<div id="busDeleteState">
    <ul>
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ADMIN / Delete Any Bus</h2>
                </div>
            </div>
            <hr />

            <div class="row text-center pad-top container-fluid antiMobileAlert">
                <p class="alert-warning">* for optimal experience please do not view on mobile devices.</p>
            </div>

            <% for (var i=0; i < busNumbers.length; i++) { %>
                <% if (i % 6 == 0) { %>
                    <% if (i != 0) { %>
                        </div>
                    <% } %>
                    <div class="row text-center pad-top">
                <% } %>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" onclick="requestDelete(<%= busNumbers[i] %>)">
                        <div class="deleteBusOption">
                            <i class="fa fa-bus fa-3x"></i>
                            <h4>Bus <%= busNumbers[i] %></h4>
                        </div>
                    </a>
                </div>
            <% } %>
    </ul>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>To delete the bus please type the bus number and click confirm.</p>
            </div>
            <div class="modal-footer flexcontainer">
                <input id="deletionConfirmation" name="" type="text" placeholder="42" class="form-control input-md" required>
                <button onclick="removeBus()" type="button" class="btn btn-danger">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="addBusForm">

    <div class="page-inner">
        <ul>

            <div class="row">
                <div class="col-lg-12">
                    <h2>Create A Bus</h2>
                </div>
            </div>
            <hr />

            <form class="form-horizontal">
                <fieldset>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="">Enter Bus #</label>
                        <div class="col-md-4">
                            <input id="busnumber" name="" type="text" placeholder="42" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Multiple Checkboxes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Assign Morning Schools</label>
                        <div class="col-md-4">
                            <% for (var i=0; i < JSON.parse(schoolsInSystem).length; i++) { %>
                            <div class="checkbox">
                                <label for="morningSchool-<%= i %>">
                                    <input class="servesAM" type="checkbox" name="morningSchool" id="morningSchool-<%= i %>" value="<%= i %>">
                                    <%= JSON.parse(schoolsInSystem)[i] %>
                                </label>
                            </div>
                            <% } %>
                        </div>
                    </div>

                    <!-- Multiple Checkboxes -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Assign Afternoon Schools</label>
                        <div class="col-md-4">
                            <% for (var i=0; i < JSON.parse(schoolsInSystem).length; i++) { %>
                            <div class="checkbox">
                                <label for="afternoonSchools-<%= i %>">
                                    <input class="servesPM" type="checkbox" name="afternoonSchools" id="afternoonSchools-<%= i %>" value="<%= i %>">
                                    <%= JSON.parse(schoolsInSystem)[i] %>
                                </label>
                            </div>
                            <% } %>
                        </div>
                    </div>

                    <div id="selectWhatSchoolsBusSwitchesAt" class="form-group">
                        <label class="col-md-4 control-label">Bus Passenger Exchanges</label>

                        <div class="col-md-4">
                            <div class="checkbox switch-alternative">
                                <label class="toggleLabel">
                                    <input type="checkbox" class="switch-control">
                                    <span class="switch-label"></span>
                                </label>
                            </div>
                            <div class="added-form-fields">
                                <div class="createBusContainer">
                                    <h4>Passengers that go to: </h4>
                                    <select name="" id="studentsGoingTo">
                                        <% for (var i=0; i < JSON.parse(schoolsInSystem).length; i++) { %>
                                        <option id=""><%= JSON.parse(schoolsInSystem)[i] %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="createBusContainer">
                                    <h4>Passengers will switch to bus: </h4>
                                    <select id="" name="">
                                        <option value="1">#6</option>
                                        <option value="2">#43</option>
                                    </select>
                                </div>
                                <div class="createBusContainer">
                                    <h4>Passengers will switch buses at: </h4>
                                    <select id="changeAt" name="">
                                        <% for (var i=0; i < JSON.parse(schoolsInSystem).length; i++) { %>
                                        <option id=""><%= JSON.parse(schoolsInSystem)[i] %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="createBusContainer">
                                    <h4>Time of day: </h4>
                                    <select id="timeOfDay" name="">
                                        <option value="1">Morning</option>
                                        <option value="2">Afternoon</option>
                                        <option value="2">Morning and Afternoon</option>
                                    </select>
                                </div>
                            </div>
                            <button id="busSwitchesAtASchool" class="btn btn-success justifiedBtn" onclick="generateBus()">Create</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </ul>
    </div>

</div>

<div id="busEditState">
    <ul>
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ADMIN / Edit Any Bus</h2>
                </div>
            </div>
            <hr />
            <% for (var i=0; i < busNumbers.length; i++) { %>
                <% if (i % 6 == 0) { %>
                    <% if (i != 0) { %>
                        </div>
                    <% } %>
                    <div class="row text-center pad-top">
                <% } %>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <a href="#" onclick="requestEdit(<%= busNumbers[i] %>)">
                        <div class="deleteBusOption">
                            <i class="fa fa-bus fa-3x"></i>
                            <h4>Bus <%= busNumbers[i] %></h4>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </ul>
</div>

<div class="container adminControls">
    <div class="flexContainerRight">
        <div class="nbs">
            <a href="#" class="nb nbi nbsb1" id="editBusButton"><i class="fa fa-pencil"></i> <span>Edit Settings </span></a>
            <a href="#" class="nb nbi nbsb2" id="deleteBusButton"><i class="fa fa-times"></i> <span>Delete A Bus </span></a>
            <a class="nb nb-main" id="addBusButton"> <i class="fa fa-plus" onclick="resetAddBusForm()"></i><span>Add A Bus </span></a>
        </div>
        <div class="home">
            <a href="#" class="nb nb-main" id="backToAdminHome"><i class="fa fa-home"></i> <span>Back to Admin Home </span></a>
        </div>
    </div>
</div>

<script>
    var school = "<%= school %>";
    var bus_numbers = [<%- busNumbers %>];
    var schoolsInSystem = <%- schoolsInSystem %>;
</script>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- admin_util is only for deleting a bus with AJAX-->
<script src="/scripts/admin_util.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/scripts/home_animations.js"></script>


</body>
</html>