<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tranzip | Control Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles-->
    <link href="/css/main_style.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9] -->
</head>

<body>

<nav class="navbar mainNav adminNav">

    <div class="resultsDesktopNav">

        <div style="margin-left: -16px" class="navBrand col-md-3">
            <a href="/">
                <img alt="tranzip Brand" src="/img/tranzipNavLogo.png">
            </a>
        </div>

        <div class="col-lg-6">
            <div class="mediumMargin">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="AMorPMAdd" type="button" class="btn btn-secondary amToggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            AM <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu">
                            <ul id="dropdown" class="nav nav-pills nav-stacked">
                                <li><a class="AMorPM" href="#">AM</a></li>
                                <li><a class="AMorPM" href="#">PM</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="searchInNav" class="input-group">
                        <input type="text" id="adminSearch" class="form-control" placeholder="Type in your address here...">
                        <i id="submit" class="fa fa-lg fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <h2 class="currentPageNameNav">Control Panel</h2>
        </div>
    </div>
</nav>

<ul class="adminToggle">
    <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
    </div>
</ul>
<nav class="main-navigation" role='navigation'>
    <h2 class="menuTitle">Menu</h2>
    <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/admin/<%= school %>"><i class="fa fa-user-circle-o"></i>Profile</a></li>
        <li><a href="/admin/logout"><i class="fa fa-sign-out"></i>Log Out</a></li>
        <li><a class="not-active"><i class="fa fa-pencil"></i>Edit New Bus:</a></li>
        <ul>
            <% for (var i=0; i < busNumbers.length; i++) { %>
            <li>
                <a href="/admin/<%= school + "/" + busNumbers[i] %>">
                    <i class="fa fa-bus"></i>Bus <%= busNumbers[i] %>
                </a>
            </li>
            <% } %>
        </ul>

    </ul>
</nav>
<div class="sidenav-background"></div>

<div class="busMenuDiv">
    <ul class="busMenu">
    </ul>
</div>

<div id="editsPanel">
    <div id="edits">
        <h4>Bus Stops:</h4>
        <div class="container-fluid changesDiv">
            <h1 id="amHeading">AM</h1>
            <div id="amStops"></div>

            <hr>

            <h1 id="pmHeading">PM</h1>
            <div id="pmStops"></div>
        </div>
    </div>
    <div>
        <button id="finalConfirmation" class="btn btn-success squareButton adminEditSave">Save Changes</button>
    </div>
    <div id="footer2" class="navbar-fixed-bottom hidden-xs hidden-sm">
        <h5>CodeFusion &copy; 2016</h5>
    </div>
</div>

<!--<div id="editsPanel">-->
    <!--<div id="edits">-->
        <!--<h4>Changes Made:</h4>-->
        <!--<div class="container-fluid changesDiv">-->
            <!--<h1 id="amHeading" style="display: none;">AM</h1>-->
            <!--<div id="amChanges"></div>-->

            <!--<hr>-->

            <!--<h1 id="pmHeading" style="display: none;">PM</h1>-->
            <!--<div id="pmChanges"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<button id="finalConfirmation" class="btn btn-success squareButton adminEditSave">Save Changes</button>-->
    <!--</div>-->
    <!--<div id="footer2" class="navbar-fixed-bottom hidden-xs hidden-sm">-->
        <!--<h5>CodeFusion &copy; 2016</h5>-->
    <!--</div>-->
<!--</div>-->


<div id="googlemapsWithRoutes"></div>

<div id="mobileTogglePanel" class="visible-xs visible-sm mobileOpenDownPanel">
    <span></span>
</div>
<div id="toggles">
    <div class="toggleContainer">
        <div class="toggle1">
            <input id="toggleAM" type="checkbox" onclick="toggleRoute('AM')">
            <span class="button"></span>
            <span class="label">AM</span>
        </div>
        <div class="toggle2">
            <input id="togglePM" type="checkbox" onclick="toggleRoute('PM')">
            <span class="button"></span>
            <span class="label">PM</span>
        </div>
    </div>
</div>

<div id="mobileTogglePanel" class="visible-xs visible-sm mobileOpenUpPanel">
    <span><img id="scrollDownImg" src="/img/downArrow.svg" alt="Scroll Down"></span>
</div>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/scripts/home_animations.js"></script>

<script src="/scripts/client_util.js"></script>
<script>
    var AMroute = <%- AMroute %>;
    var PMroute = <%- PMroute %>;
    var AMaddresses = <%- AMaddresses %>;
    var PMaddresses = <%- PMaddresses %>;

    for (var i=0; i < AMaddresses.length; i++) {
        var amBusStopsPanel = document.getElementById('amStops');

        var amHTML = ' \
        <div style="margin: 15px;"> \
            <div style="display: inline;">' + AMaddresses[i] + '</div> \
            <div class="btn btn-success" style="display: inline;" onclick="selectAddressOnMap(\''+AMaddresses[i]+'\', \'AM\')">Select</div> \
        </div> \
        \ ';

        var amDiv = document.createElement('div');
        amDiv.innerHTML = amHTML;

        amBusStopsPanel.append(amDiv);
    }

    for (var i=0; i < PMaddresses.length; i++) {
        var pmBusStopsPanel = document.getElementById('pmStops');

        var pmHTML = ' \
        <div style="margin: 15px;"> \
            <div style="display: inline;">' + PMaddresses[i] + '</div> \
            <div class="btn btn-success" style="display: inline;" onclick="selectAddressOnMap(\''+PMaddresses[i]+'\', \'PM\')">Select</div> \
        </div> \
        \ ';

        var pmDiv = document.createElement('div');
        pmDiv.innerHTML = pmHTML;

        pmBusStopsPanel.append(pmDiv)
    }

</script>
<script src="/scripts/modifyBuses.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCMEZiWzR_Oe22ml8Rl1-BNzdEG5pCJO6s&callback=initMap" async defer></script>

</body>
</html>